<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!--CSS Global-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!--CSS Especifico-->
    <link rel="stylesheet" href="/assets/css/profile.css">
</head>
<body>
    <header class="header">
        <div class="logo"><a href="/index.html">LOGO</a></div>

        <nav class="nav">
            <div class="mini-search-container">
              <input type="text" class="mini-search-bar" placeholder="Search...">
              <img src="/assets/images/search.png" alt="Search Icon" class="icon">
            </div>
            <span class="nav-item">PC</span>
            <span class="nav-item">CONSOLE</span>
            <span class="nav-item">MOBILE</span>
          </nav>
        <div class="account">
          <img src="/assets/images/profile.png" alt="User Icon" class="icon">
          <span>Sign in/Sign Up</span>
        </div>
        <iframe 
    id="loginIframe" 
    src="/assets/views/login.html" 
    style="display: none; position: absolute; top: 15%; left: 25%; width: 1000px; height: 700px; z-index: 1000; border: none;">
    </iframe>
    </header>

    
    <main class="parent">
      <div class="div1"></div>
      <div class="div2">
          <h2>Nome</h2>
          <p>Biografia breve aqui...</p>
      </div>
          <button>Edit Profile</button>
          <section class="statistics">
            <header class="stats-header">
              <h2>Statistics</h2>
              <a>All Game Stats</a>
            </header>
              <div class="stats-bar"></div>
              <div class="stats-container">
                  <ul class="stats-list">
                      <li><span class="dot playing"></span> Playing<span class="count">-</span></li>
                      <li><span class="dot completed"></span> Completed<span class="count">-</span></li>
                      <li><span class="dot on-hold"></span> On-Hold<span class="count">-</span></li>
                      <li><span class="dot dropped"></span> Dropped<span class="count">-</span></li>
                      <li><span class="dot plan-to-play"></span> Plan to Play<span class="count">-</span></li>
                  </ul>
                  <ul class="stats-summary">
                      <li>Total Entries: <span class="count">-</span></li>
                      <li>Replayed: <span class="count">-</span></li>
                  </ul>
              </div>
          </section>
          <section class="last-completed">
              <h2>Last Completed Games</h2>
              <article class="completed-game">
                  <figure class="recent-game-card"></figure>
                  <div>
                      <p>Game Name</p>
                      <small>Score: 9.32</small>
                      <small>Nov 2, 9:19 PM</small>
                  </div>
              </article>
              <article class="completed-game">
                  <figure class="recent-game-card"></figure>
                  <div>
                      <p>Game Name</p>
                      <small>Score: 9.32</small>
                      <small>Nov 2, 9:19 PM</small>
                  </div>
              </article>
              <article class="completed-game">
                  <figure class="recent-game-card"></figure>
                  <div>
                      <p>Game Name</p>
                      <small>Score: 9.32</small>
                      <small>Nov 2, 9:19 PM</small>
                  </div>
              </article>
          </section>
          <section class="game-collection">
              <h2>Game Collection</h2>
              <div class="collection-summary">
                  <article>
                      <h3>---</h3>
                      <p>Games Owned</p>
                  </article>
                  <article>
                      <h3>---</h3>
                      <p>DLC's Owned</p>
                  </article>
                  <article>
                      <h3>---</h3>
                      <p>Reviewed</p>
                  </article>
                  <article>
                      <h3>---</h3>
                      <p>Wishlisted</p>
                  </article>
              </div>
              <div class="collection-grid">
                  <article class="game-card"></article>
                  <article class="game-card"></article>
                  <article class="game-card"></article>
                  <article class="game-card"></article>
                  <article class="game-card"></article>
                  <article class="game-card"></article>
              </div>
          </section>
  </main>

  
  




</body>
</html>