.pfp-section {
    grid-column: 4 / span 9;
    grid-row: 2 / span 6;
    text-align: center;
    color: white;
    background-color: #362A56; 
    padding: 20px;
    border-radius: 10px;

}

.pfp-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left; 

}

.avatar-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-end; 
    gap:10px; 

}

.avatar {
    background-color: white;
    border: 2px solid #2c2a7f;
    display: inline-block;
}

.avatar-large {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.avatar-medium {
    width: 184px;
    height: 184px;
    border-radius: 8px;
}

.avatar-small {
    width: 64px;
    height: 64px;
    border-radius: 6px;
}

.avatar-xsmall {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}


.file-upload input[type="file"] {
    display: none;
}

.file-upload p {
    font-size: 14px;
    margin-top: 10px;
}

.file-upload {
    background-color: #3b3a69; 
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    width: 10vw;
}

.avatar-upload {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.file-upload label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid ;
    padding: 10px;
    cursor: pointer;
}
