<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game List Header</title>
    <link rel="stylesheet" href="/public/user-css/game-list.css">
</head>
<body>

    <div class="header">
    </div>

    <nav class="nav">
        <div class="pfp"></div>
        <a href="#">ALL GAMES</a>
        <a href="#">CURRENTLY PLAYING</a>
        <a href="#">COMPLETED</a>
        <a href="#">ON HOLD</a>
        <a href="#">DROPPED</a>
        <a href="#">PLAN TO PLAY</a>
    </nav>

</body>
</html>