<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/user-css/login.css">
  <title>Login and Register</title>
</head>
<body>
  <div id="loginModal" class="modal">
    <div class="forms-wrapper">
  
    <!-- Formul치rio de Registro -->
    <form class="register-form" id="registerForm" action="/register" method="POST">
      <h5>WELCOME ADVENTURER</h5>
      <p>Register now and begin tracking your epic journey</p>
      <label for="username">Username</label>
      <input type="text" class="userName" name="username" placeholder="Choose Your Hero Name" required>
      <label for="email">Email:</label>
      <input type="email" class="email" name="email" placeholder="Enter your email" required>
      <label for="password">Password:</label>
      <input type="password" class="password" name="password" placeholder="Enter your password" required>
      <input type="password" class="password" name="repeatPassword" placeholder="Repeat your password" required>
      <div class="checkbox-container">
        <input type="checkbox" id="agreeTerms" name="agreeTerms" required>
        <label for="agreeTerms">I agree with the <a href="#">Terms & Conditions</a></label>
      </div>
      <button type="submit" class="register-btn">Register</button>
      <div class="social-buttons">
        <button type="button" class="google-btn">Google</button>
        <button type="button" class="facebook-btn">Facebook</button>
      </div>
      <p>Already have an account? <a href="#" class="switch-form-login">Sign In</a></p>
      <div class="overlay"></div>
    </form>
  
    <!-- Formul치rio de Login -->
    <form id="loginForm" action="/login" method="POST">
      <h5>WELCOME BACK ADVENTURER</h5>
      <p>Enter your username and password to keep track of your journey</p>
      <label for="email">Email:</label>
      <input type="email" class="email" name="email" placeholder="Enter your email" required>
      <label for="password">Password:</label>
      <input type="password" class="password" name="password" placeholder="Enter your password" required>
      <div class="checkbox-container">
        <input type="checkbox" id="rememberMe" name="rememberMe">
        <label for="rememberMe">Remember me</label>
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
      <button type="submit" class="primary-btn">Login</button>
      <div class="social-login">
        <p>Or log in with</p>
        <div class="social-buttons">
          <button type="button" class="social-button google-btn">Google</button>
          <button type="button" class="social-button facebook-btn">Facebook</button>
        </div>
      </div>
      <p>Don't have an account? <a href="#" class="switch-form-register">Register</a></p>
    </form>
  
    </div>
  </div>

  <script src="/js/login.js"></script>
  <script>
    // Alternar entre os formul치rios de Login e Registro
    const switchToLogin = document.querySelector('.switch-form-login');
    const switchToRegister = document.querySelector('.switch-form-register');
    const loginForm = document.getElementById('loginForm');
    const registerForm = document.getElementById('registerForm');
  
    switchToLogin.addEventListener('click', function() {
      loginForm.style.display = 'block';
      registerForm.style.display = 'none';
    });
  
    switchToRegister.addEventListener('click', function() {
      loginForm.style.display = 'none';
      registerForm.style.display = 'block';
    });
  
    // Inicialmente, mostrar o formul치rio de login
    loginForm.style.display = 'block';
    registerForm.style.display = 'none';
  </script>
</body>
</html>
