<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Settings</title>
    <!--CSS Globais-->
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/user-css/settings.css">
    <!--CSS Especifico-->
    <link rel="stylesheet" href="/public/user-css/avatar.css"> 
</head>
<body>
    <header class="header">
        <div class="logo" href><img src="/images/logo.png" id="logo"></div>

        <nav class="nav">
            <div class="mini-search-container">
              <input type="text" class="mini-search-bar" placeholder="Search...">
              <img src="/images/search.png" alt="Search Icon" class="icon">
            </div>
            <span class="nav-item">PC</span>
            <span class="nav-item">CONSOLE</span>
            <span class="nav-item">MOBILE</span>
          </nav>
        <div class="account">
          <img src="/images/profile.png" alt="User Icon" class="icon">
          <span>Sign in/Sign Up</span>
        </div>
    </header>

    
    <main>
        <h2>Profile Settings</h2>
        <button id="back" type="button" onclick="window.location.href='profile.html'">Back to Profile</button>
        
        <aside class="menu">
          <ul>
            <li onclick="window.location.href='profile-settings.html'" >About</li>
            <li class="active">Avatar</li>
          </ul>
        </aside>
        
        <section class="pfp-section">
          <h2 class="pfp-title">Avatar</h2>
          
          <div class="avatar-container">
            <img id="avatar" src="/images/pfile.png" class="avatar avatar-large"></img>
            <img id="avatar" src="/images/pfile.png" class="avatar avatar-medium"></img>
            <img id="avatar" src="/images/pfile.png" class="avatar avatar-small"></img>
            <img id="avatar" src="/images/pfile.png" class="avatar avatar-xsmall"></img>
          </div>
          
          <div class="file-upload">
            <label for="avatar-upload">Upload Avatar:</label>
            <input type="file" id="avatar-upload" name="avatar" accept="image/*">
            <p>Upload a file from your device. The image must be square and have minimum dimensions of 300px X 300px.</p>
          </div>
        </section>
        <button type="reset" id="cancel" form="location-form">Cancel</button>
        <button type="submit" id="save" form="location-form">Save</button>
      </main>
      
      
  <footer>
    <div class="footer-container">
      <div class="social-media">
        <h4>Social Media</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-twitch"></i></a></li>
          <li><a href="#"><i class="fab fa-discord"></i></a></li>
          <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
          <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
        </ul>
        <div class="language">
          <label for="language-select">🌐</label>
          <select id="language-select">
            <option value="en">English</option>
            <option value="pt">Português</option>
            <option value="es">Spanish</option>
          </select>
        </div>
      </div>
      <div class="institutional">
        <h4>Institutional</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Your Game with us</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
      <div class="help">
        <h4>Help</h4>
        <ul>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>LOGO © 2011 - 2024</p>
    </div>
  </footer>

<script>
let profilePic = document.getElementsById("avatar");
let inputFile = document.getElementById("avatar-upload");

inputFile.onchange = function() {
  
  if (inputFile.files && inputFile.files[0]) {
    profilePic.src = URL.createObjectURL(inputFile.files[0]);
  }
}

</script>
</body>
</html>