.main-content {
  border-radius: 8px;
  width: clamp(15vw, 60vw, 75vw);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 10vh);
  gap: 10px;
  margin: 5vh auto;
  position: relative;
  }

  .main-content h2{
    white-space: nowrap;
    grid-row: 1 / span 1;
    grid-column: 1 / span 5;
    font-size: 2vw;
  }
  
.main-outer-content {
  display: flex;
  justify-content: center;
}
    

.game-media {
  grid-column: 1 / span 4;
  grid-row: 2 /span 6;
  background-color: #ece9f1;
  border-radius: 10px;
}

.game-media img {
  width: 100%;
  height: 100%;
}


.thumbnails {
  grid-column: 5 /span 4;
  grid-row: 2 / span 6;
  overflow: hidden;
}

.thumbnail{
    width: 100%;
    height: 210px;
    margin-bottom: 1rem;
}

.thumbnail img {
  width: 100%;   
  height: 100%;  
  object-fit: cover;  
}



  
.games-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh 16vw;
}
.g{
  background-color: pink;

}

.games-container h2 {
  grid-column: 1 / span 3;
}


.similar-game{
  position: relative;
  gap: 0px;
  transition: transform 0.3s ease; /* Animação suave */
  position: relative; /* Para que a transformação não afete o layout */
  overflow: hidden; /* Garante que o conteúdo não saia da área visível */
}


.similar-game:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho no hover */
  z-index: 1; /* Traz o elemento para frente, se necessário */
}


.hidden{
  display: none;
}
.games-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 30px;
}

.similar-game:nth-child(2) {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

.similar-game:nth-child(3) {
  grid-column: 4 / span 3;
  grid-row: 2 / span 3;
}

.similar-game:nth-child(4) {
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
}

.similar-game:nth-child(5) {
  grid-column: 10 / span 3;
  grid-row: 2 / span 3;
}

.similar-game:nth-child(6) {
  grid-column: 1 / span 3;
  grid-row: 5 / span 3;
}

.similar-game:nth-child(7) {
  grid-column: 4 / span 3;
  grid-row: 5 / span 3;
}

.similar-game:nth-child(8) {
  grid-column: 7 / span 3;
  grid-row: 5 / span 3;
}

.similar-game:nth-child(9) {
  grid-column: 10 / span 3;
  grid-row: 5 / span 3;
}



.similar-title{
  position: absolute;
  top: 50%;
  z-index: 5;
  background-color: #EDE8EC;
}

.similar-game img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.similar-description{
  position: absolute;
  bottom: 0%;
  z-index: 5;
  background-color: #EDE8EC;
}

.all-games-container{
  margin: 10vh 16vw;
}









figure{
  justify-content: center;
  margin: 0;
}

.game-description {
    color: #EDE8EC;
    padding: 10px;
    grid-column: 1 / span 8;
    grid-row: 8 / span 3 ;
}

/* Estrutura principal */

.game-stats {
  grid-column: 9 /span 4;
  grid-row: 2 / span 2;
  background-color: #f2edf9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  font-family: Arial, sans-serif;
  color: #42396c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}

.stat-row div {
  flex: 1;
}

.stat-row dt {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.stat-row dd {
  margin: 5px 0 0;
  font-size: 1.1rem;
  font-weight: bold;
}

select {
  font-size: 1rem;
  border: 1px solid #d1c8e4;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  color: #42396c;
}



/* Estilização da seção de botões */
.button-section {
  display: flex;
  flex-direction: column; 
  gap: 10px; /* Espaço entre os botões */
  margin-top: 20px;
  align-items: center; /* Centraliza os botões */
}

/* Estilo minimalista para os botões */
.btn {
  width: 100%; /* Define uma largura fixa */
  padding: 10px 0; /* Espaçamento interno */
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: black;
  background-color: transparent; /* Cor minimalista */
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Botão ao passar o mouse */
.btn:hover {
  background-color: #444444; /* Cor mais clara no hover */
  transform: scale(1.02); /* Leve efeito de zoom */
}

/* Botão ativo */
.btn:active {
  transform: scale(0.98); /* Leve efeito de clique */
}




.game-info {
  grid-column: 9 / span 4;
  grid-row: 4 / span 4;
  background-color: #f5f3fa;
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  font-family: Arial, sans-serif;
  color: #3c3c3c;
}

.game-info dt {
  font-weight: bold;
  color: #5a4f89;
  margin-bottom: 5px;
}

.game-info dd {
  margin: 0 0 15px 0;
}

.tags{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags li{
  background-color: #ece9f1;
  color: #5a4f89;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}


.reviews {
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;
  max-width: 60rem;
  margin: auto;
  border-radius: 8px;
}

.review-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#0F0D23;
  max-width: 60rem;
}

.write-review button {
  background-color: transparent !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 20px;
}

.write-review button:hover {
  background-color: #575fcf;
}

.review-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 4px;
  width: 300px;
}

.progress-bar {
  display: flex;
  height: 6px;
  background: #555;
  width: 300px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar .bar {
  position: absolute;
  top: 0;
  bottom: 0;
}

.progress-bar .recommended {
  background-color: #33d9b2;
  width: 60%;
}

.progress-bar .not-recommended {
  background-color: #ff4757;
  width: 40%;
  right: 0;
}

.total-reviews {
  font-size: 14px;
  color: #ffd32a;
  margin-right: 20px;
}

/* Media Query for max-width: 425px */
@media (max-width: 425px) {
  .review-summary-container {
    max-width: 100%;
    padding: 10px;
  }

  .write-review button {
    font-size: 14px;
    padding: 8px 16px;
    margin-left: 0;
  }

  .write-text{
    display: none;
  }

  .labels {
   display: none;
  }

  .progress-bar {
  display: none;
  }

  .progress-bar .recommended,
  .progress-bar .not-recommended {
    height: 5px; /* Reduce the height of the bars */
  }

  .total-reviews {
    font-size: 12px;
    margin: 0;
  }
}


.review {
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  flex-grow: 1;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 4px;
  flex-shrink: 0;
}

.user-details {
  margin-left: 10px;
  text-align: left;
}

.user-details h4 {
  margin: 0;
  font-size: 18px;
}

.recommend-status {
  color: #33d9b2;
  font-size: 14px;
}

.not-recommend-status {
  color: #690000;
  font-size: 14px;
}

.review-body h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #ffd32a;
}

.review-body p {
  font-size: 16px;
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
}

.review-body.expanded p {
  max-height: none;
}

.expand-button {
  color: #3c40c6;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
}

/* Caixa de fundo para os botões */
.feedback-options-container {
  background-color: #362A56;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row; /* Adicionei isso, pois normalmente o valor padrão é row */
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100px;  
}

.feedback-options-container button {
  background: transparent;
  border: 1px solid #0F0D23;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
}

.feedback-options button:hover {
  background: #40407a;
}

.feedback-options span {
  margin-left: 5px;
}

.review-score strong {
  font-size: 32px;
}

.review-score .out-of {
  font-size: 16px;
}


@media (max-width: 425px) {
  .feedback-options-container {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    height: auto;
  }

  .feedback-options-container button {
    width: 50%;
    padding: 8px; 
    font-size: 0.8rem; 
  }
}

