@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background: linear-gradient(#0F0D23, #2A2263);
    height: 100%;
    margin: 0;     
}

h1{
    font-size: clamp(3rem,6rem,6rem);
    text-align: center;
    color: #EDE8EC;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
}
@media (max-width:767px) {
  body{
    overflow-x: hidden;
  }
  h1{
    font-size: 3rem;
  }
  
}

h2{
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: #EDE8EC ;
}

h3{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}


h5{
  font-size: 1.3em;
  white-space: nowrap;
  color: #333;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;

}

#logo{
  width:15vh;
  height:10vh;
}

/*Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  gap: 50px; 
  margin-left: 19.5em;
  margin-right: 19.5em;
}

.header .logo {
  font-size: 1.5em;
  font-weight: light;
  margin-right: auto; 
  color: #EDE8EC;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
}

.nav-item:hover {
  color: #ccc;
}

.account {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #EDE8EC;
  white-space: nowrap;  
}

.account img {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  background-color: #fff;
}
.account:hover {
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {

  body{
    overflow-x: hidden;
  }
  .header {
    flex-direction: row; 
    justify-content: space-between; 
    padding: 10px 20px; 
    margin: 0; 
    gap: 10px; 
  }


  
  .header .logo {
    margin-right: 10px; 
    font-size: 1em; 
  }

  .nav {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: nowrap; 
    gap: 10px; 
    font-size: 1rem;
  }

  .nav-item {
    font-size: 0.9em; 
  }

  .account span {
    content: none;
    display: none;
    align-items: center; 
    justify-content: flex-end; 
    gap: 10px; 
  }

  .account img {
    width: 25px; 
    height: 25px;
  }

  .icon {
    width: 15px; 
    height: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1{
    margin-bottom: -20%;
  }
  .header {
      padding: 15px 30px; 
      gap: 30px; 
      margin-left: 10%; 
      margin-right: 10%; 
  }

  .header .logo {
      font-size: 1.3em;
  }

  .nav {
      gap: 15px; 
  }

  .nav-item {
      font-size: 0.9em; 
  }

  .account {
      gap: 20px; 
  }

  .account span{
    display: none;
  }

  .account img {
      width: 25px; 
      height: 25px; 
  }

  .icon {
      width: 18px; 
      height: 18px;
  }
}
 


.mini-search-container {
  display: flex;
  align-items: center;
  background-color: #ece9f1; 
  border-radius: 10px; 
  border: none;
  width: 200px; 
  padding: 5px 10px; 
  position: relative; 
}

.mini-search-bar {
  flex: 1; 
  border: none; 
  outline: none; 
  background-color: transparent; 
  color: #333;
  font-size: 1rem; 
  border-radius: 5px; 
  padding: 0.5em; 
  width: 100%; 
  max-width: 150px; 
}

.mini-search-bar::placeholder {
  color: #aaa; 
}

@media (max-width: 767px) {
  .mini-search-container {
    display:none
  }

 
}


footer {
    background-color: #1a1a2e;
    color: #cccccc;
    padding: 20px 312px; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footer-container h4 {
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .footer-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-container li {
    margin-bottom: 8px;
  }
  
  .social-media ul {
    display: flex;
    gap: 15px; 
  }
  
  .social-media ul i {
    font-size: 20px; 
    color: #a6b1e1;
  }
  
  .language {
    margin-top: 10px; 
    text-align: left;
    display: flex;
    align-items: center; 
    gap: 5px; 
  }
  
  .language label {
    font-size: 20px; 
    color: #a6b1e1;
  }
  
  .language select {
    background-color: #1a1a2e;
    color: #cccccc;
    border: 0px;
    padding: 5px 10px;
    font-size: 16px; 
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  
  .language select:hover {
    border-color: #ffffff; 
  }
  
  .institutional ul, 
  .help ul {
    display: flex;
    flex-direction: column; 
    gap: 8px; 
  }
  
  .footer-container a {
    color: #a6b1e1;
    text-decoration: none;
  }
  
  .footer-container a:hover {
    color: #ffffff;
  }
  
  .footer-bottom {
    text-align: center;
    color: #666666;
    border-top: 1px solid #333333;
    padding-top: 10px;
  }


@media (max-width: 767px) {
    footer {
        padding: 10px 20px; 
    }

    .footer-container {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        gap: 15px; 
    }

    .footer-container ul {
        align-items: center; 
        padding: 0; 
        list-style: none; 
    }

    .social-media ul {
        justify-content: center; 
        gap: 8px; 
        padding: 0; 
    }

    .language {
        justify-content: center; 
        margin-top: 10px; 
    }

    .footer-bottom {
        font-size: 12px; 
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    footer {
      padding: 20px 50px; 
    }
  
    .footer-container {
      flex-direction: column; 
      align-items: center; 
      text-align: center;
      gap: 20px; 
    }
  
    .footer-container ul {
      align-items: center; 
    }
  
    .social-media ul {
      justify-content: center; 
      gap: 10px; 
    }
  
    .language {
      justify-content: center; 
      margin-top: 15px; 
    }
  
    .footer-bottom {
      font-size: 14px;
    }
  }


   /* POPULAR SLIDER */
.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
}

.popular{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-inline: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.slider_popular {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  padding: 24px 36px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .slider_popular {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .slider_popular {
    border-radius: 12px;
  }
}

.slider-wrapper {
  position: relative;
  display: flex;
  column-gap: 12px;
  grid-column: 1 / 3;
  height: 40vh;
  max-width: 100%;
  max-height: 40vh;
}

.slider-wrapper .slide {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  width: calc(100% - (2 * 24px + 12px));
  height: calc(100% - (2 * 24px));
  min-width: calc(100% - (2 * 24px));
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

@media (min-width: 768px){
  .slider-wrapper .slide {
    min-width: calc(50% - (2 * 24px));
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slider-wrapper{
    height:20vh;
  }
  .slider-wrapper .slide {
    min-width: calc(50% - (2 * 24px));
  }
}

.slider-transitions .slider-wrapper .slide {
  transition: min-width 0.5s, left 0.5s;
}

.slider-wrapper .slide-last {
  display: none;
}

@media (min-width: 768px) {
  .slider-wrapper .slide-last {
    display: grid;
  }
}

.slider-wrapper .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(0 0 0 / 80%) 25%, transparent 75%);
  z-index: 1;
}

.slider-wrapper .slide .slider-content {
  position: relative;
  z-index: 2;
  color: #EDE8EC;
}

.slider-wrapper .slide .slider-content h2 {
  font-size: 20px;
  color: #EDE8EC;
}

.slider-transitions .slider-wrapper .slide .slider-content h2 {
  transition: font-size 0.25s;
}

.slider-wrapper .slide .slider-content .paragraph-wrapper .paragraphs {
  display: grid;
  grid-template-rows: 0fr;
  color: var(--paragraph);
  width: 32ch;
  max-width: 32ch;
  margin: 0 0 17px;
  opacity: 0;
}

.slider-transitions .slider-wrapper .slide .slider-content .paragraph-wrapper .paragraphs {
  transition: opacity 0.25s, margin 0.25s, grid-template-rows 0.25s linear;
}

.slider-wrapper .slide .slider-content .paragraph-wrapper .paragraphs p {
  margin-block: 0;
  overflow: hidden;
}

.slider-wrapper .slide .slider-content .primary {
  display: grid;
  width: fit-content;
  padding: 6px 12px;
  color: #EDE8EC;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.slider-transitions .slider-wrapper .slide .slider-content .primary {
  transition: box-shadow 0.25s;
}

.slider-wrapper .slide .slider-content .primary:hover {
  box-shadow: 0 0 0 4px rgba(100, 150, 210, 0.5);
}

.slider-wrapper .slide-active {
  width: calc(100% - (2 * 24px));
  min-width: calc(100% - (2 * 24px));
  z-index: 2;
}

.slider-wrapper .slide-active .slider-content h2 {
  font-size: 36px;
  color: #fff;
}

.slider-wrapper .slide-active .slider-content .paragraph-wrapper .paragraphs {
  grid-template-rows: 1fr;
  margin-block-end: 27px;
  opacity: 1;
}

.slider-wrapper .slide figure {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
}

.slider-wrapper .slide figure img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.slider-wrapper .slide figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding-inline: 8px;
}

.slider_popular .slider-controls .slide-control-left,
.slider_popular .slider-controls .slide-control-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(100, 150, 210, 0.25), 0 0 12px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.25s;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slider_popular .slider-controls .slide-control-left:hover,
.slider_popular .slider-controls .slide-control-right:hover {
  box-shadow: 0 0 0 6px rgba(100, 150, 210, 0.25), 0 0 12px rgba(0, 0, 0, 0.25);
}

.slider_popular .slider-controls .slide-control-left {
  left: 6px;
}

.slider_popular .slider-controls .slide-control-right {
  right: 6px;
}

.slider_popular .slider-controls .slide-control-disabled {
  filter: grayscale(1);
  cursor: unset;
}

.slider_popular .slider-controls .slide-control-disabled:hover {
  box-shadow: 0 0 0 2px rgba(100, 150, 210, 0.25);
}
